.programs-container {
    position: relative;
}

.blur-background .programs {
    filter: blur(5px);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.6; 
    font-family: 'Arial', sans-serif;
}

.popup-content p {
    margin: 0 0 20px;
    font-size: 18px;
    color: #333;
    text-align: justify;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #148406;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Ensures the button stays isolated */
    margin: 0 auto; /* Center the button horizontally */
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #0f6704;
}

.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.programs img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program {
    flex-basis: 31%;
    position: relative;
    cursor: pointer;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(20, 148, 6, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

.tooltip {
    position: absolute;
    bottom: 110%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.program:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

#different {
    width: 70px;
    margin-right: -15px;
    height: 5rem;
}

@media (max-width: 650px) {
    .programs {
        flex-direction: column;
    }
    .program {
        flex-basis: 100%;
        margin: 20px;
    }
}
